{% extends "manageItim.html" %}

{% block table %}
    <table>
        <tr>
            <th>Type Itim</th>
            <th>Itim Old</th>
            <th>Itim New</th>
            <th>Itim Total</th>
            <th>Itim Balance</th>
            <th>Sold Out</th>
            <th>Piece</th>
            <th>Money</th>
        </tr>
        <tr>
            <td>แท่งใหญ๋</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td><input type="number"></td>
            <td>Itim Total - Itim Balance x</td>
            <td>6</td>
            <td>9999</td>
        </tr>
        <tr>
            <td>แท่งเล็ก</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td><input type="number"></td>
            <td>Itim Total - Itim Balance</td>
            <td>6</td>
            <td>9999</td>
        </tr>
        <tr>
            <td>กาแฟ</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td><input type="number"></td>
            <td>Itim Total - Itim Balance</td>
            <td>6</td>
            <td>9999</td>
        </tr>
        <tr>
            <td>แซนวิช</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td><input type="number"></td>
            <td>Itim Total - Itim Balance</td>
            <td>6</td>
            <td>9999</td>
        </tr>
        <tr>
            <td>ถ้วย</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td><input type="number"></td>
            <td>Itim Total - Itim Balance</td>
            <td>6</td>
            <td>9999</td>
        </tr>
        <tr>
            <td>โคน</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td><input type="number"></td>
            <td>Itim Total - Itim Balance</td>
            <td>6</td>
            <td>9999</td>
        </tr>
    </table>
{% endblock %}